# Data import

In [108]:
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
import numpy as np 
from bokeh.plotting import show, figure

In [2]:
data = pd.read_csv("Family_Income_and_Expenditure.csv")

In [3]:
data.head(5)

,Total Household Income,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,480332,CAR,117848,Wage/Salaries,0,42140,38300,24676,16806,3325,...,1,1,0,0,0,2,1,0,0,1
1,198235,CAR,67766,Wage/Salaries,0,17329,13008,17434,11073,2035,...,0,1,0,0,0,3,1,0,0,2
2,82785,CAR,61609,Wage/Salaries,1,34182,32001,7783,2590,1730,...,0,0,0,0,0,0,0,0,0,0
3,107589,CAR,78189,Wage/Salaries,0,34030,28659,10914,10812,690,...,0,0,0,0,0,1,0,0,0,0
4,189322,CAR,94625,Wage/Salaries,0,34820,30167,18391,11309,1395,...,1,0,0,0,0,3,0,0,0,1

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41544 entries, 0 to 41543
Data columns (total 60 columns):
Total Household Income                           41544 non-null int64
Region                                           41544 non-null object
Total Food Expenditure                           41544 non-null int64
Main Source of Income                            41544 non-null object
Agricultural Household indicator                 41544 non-null int64
Bread and Cereals Expenditure                    41544 non-null int64
Total Rice Expenditure                           41544 non-null int64
Meat Expenditure                                 41544 non-null int64
Total Fish and  marine products Expenditure      41544 non-null int64
Fruit Expenditure                                41544 non-null int64
Vegetables Expenditure                           41544 non-null int64
Restaurant and hotels Expenditure                41544 non-null int64
Alcoholic Beverages Expenditure                  41544 non-null int64
Tobacco Expenditure                              41544 non-null int64
Clothing, Footwear and Other Wear Expenditure    41544 non-null int64
Housing and water Expenditure                    41544 non-null int64
Imputed House Rental Value                       41544 non-null int64
Medical Care Expenditure                         41544 non-null int64
Transportation Expenditure                       41544 non-null int64
Communication Expenditure                        41544 non-null int64
Education Expenditure                            41544 non-null int64
Miscellaneous Goods and Services Expenditure     41544 non-null int64
Special Occasions Expenditure                    41544 non-null int64
Crop Farming and Gardening expenses              41544 non-null int64
Total Income from Entrepreneurial Acitivites     41544 non-null int64
Household Head Sex                               41544 non-null object
Household Head Age                               41544 non-null int64
Household Head Marital Status                    41544 non-null object
Household Head Highest Grade Completed           41544 non-null object
Household Head Job or Business Indicator         41544 non-null object
Household Head Occupation                        34008 non-null object
Household Head Class of Worker                   34008 non-null object
Type of Household                                41544 non-null object
Total Number of Family members                   41544 non-null int64
Members with age less than 5 year old            41544 non-null int64
Members with age 5 - 17 years old                41544 non-null int64
Total number of family members employed          41544 non-null int64
Type of Building/House                           41544 non-null object
Type of Roof                                     41544 non-null object
Type of Walls                                    41544 non-null object
House Floor Area                                 41544 non-null int64
House Age                                        41544 non-null int64
Number of bedrooms                               41544 non-null int64
Tenure Status                                    41544 non-null object
Toilet Facilities                                41544 non-null object
Electricity                                      41544 non-null int64
Main Source of Water Supply                      41544 non-null object
Number of Television                             41544 non-null int64
Number of CD/VCD/DVD                             41544 non-null int64
Number of Component/Stereo set                   41544 non-null int64
Number of Refrigerator/Freezer                   41544 non-null int64
Number of Washing Machine                        41544 non-null int64
Number of Airconditioner                         41544 non-null int64
Number of Car, Jeep, Van                         41544 non-null int64
Number of Landline/wireless telephones           41544 non-null int64
Number of Cellular phone                         41544 non-null int64
Number of Personal Computer                      41544 non-null int64
Number of Stove with Oven/Gas Range              41544 non-null int64
Number of Motorized Banca                        41544 non-null int64
Number of Motorcycle/Tricycle                    41544 non-null int64
dtypes: int64(45), object(15)
memory usage: 19.0+ MB

In [5]:
pd.set_option('display.max_columns', 60)

In [6]:
round(data.describe(), 0)

,Total Household Income,Total Food Expenditure,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,Restaurant and hotels Expenditure,Alcoholic Beverages Expenditure,Tobacco Expenditure,"Clothing, Footwear and Other Wear Expenditure",Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites,Household Head Age,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,House Floor Area,House Age,Number of bedrooms,Electricity,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
count,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0,41544.0
mean,247556.0,85099.0,0.0,25134.0,18196.0,10540.0,10529.0,2550.0,5007.0,15437.0,1085.0,2295.0,4955.0,38375.0,20922.0,7160.0,11806.0,4095.0,7474.0,12522.0,5266.0,13817.0,54376.0,51.0,5.0,0.0,1.0,1.0,56.0,20.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
std,286881.0,51638.0,1.0,13466.0,11727.0,10498.0,7812.0,2970.0,3300.0,23705.0,2174.0,3999.0,7497.0,53112.0,39372.0,26902.0,19351.0,7299.0,21219.0,17547.0,13280.0,47644.0,147143.0,14.0,2.0,1.0,1.0,1.0,55.0,14.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,1.0
min,11285.0,2947.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1950.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,1.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,104895.0,51017.0,0.0,16556.0,11020.0,3354.0,5504.0,1025.0,2873.0,1930.0,0.0,0.0,1365.0,13080.0,6000.0,300.0,2412.0,564.0,0.0,3792.0,0.0,0.0,0.0,41.0,3.0,0.0,0.0,0.0,25.0,10.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
50%,164080.0,72986.0,0.0,23324.0,16620.0,7332.0,8695.0,1820.0,4314.0,7314.0,270.0,300.0,2740.0,22992.0,10800.0,1125.0,6036.0,1506.0,880.0,6804.0,1500.0,0.0,19222.0,51.0,4.0,0.0,1.0,1.0,40.0,17.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
75%,291138.0,105636.0,1.0,31439.0,23920.0,14292.0,13388.0,3100.0,6304.0,19921.0,1299.0,3146.0,5580.0,45948.0,24000.0,4680.0,13776.0,3900.0,4060.0,14154.0,5000.0,6313.0,65969.0,61.0,6.0,1.0,2.0,2.0,70.0,26.0,2.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
max,11815988.0,827565.0,2.0,765864.0,758326.0,261566.0,188208.0,273769.0,74800.0,725296.0,59592.0,139370.0,356750.0,2188560.0,1920000.0,1049275.0,834996.0,149940.0,731000.0,553560.0,556700.0,3729973.0,9234485.0,99.0,26.0,5.0,8.0,8.0,998.0,200.0,9.0,1.0,6.0,5.0,5.0,5.0,3.0,5.0,5.0,4.0,10.0,6.0,3.0,3.0,5.0

non missing values

# Visualization

In [101]:
# spliting data in numeric and text
colnumber = len(data.columns)
data_number = pd.DataFrame()
data_text = pd.DataFrame()
for i in range(colnumber):
    if data.dtypes[i] == "int64":
        data_number[[data.columns[i]]] = pd.DataFrame(data.iloc[:,i])
    else:
        data_text[[data.columns[i]]] = pd.DataFrame(data.iloc[:,i])

In [ ]:
scatter_matrix(data_number)
plt.show()